/*
 * @autor：xiangzi
 * @Date: 2019-1-16  00：17
 * @Last modified time : 2019-1-16  00：17
 * 
 */

.footer{
	padding-bottom: 10px;
}
.footer .links{
	text-align: center;
	color: #666666;
	line-height: 30px;
}
.footer .links .link{
	padding: 0 10px;
}
.footer .copyright{
	text-align: center;
	color: #666;
	line-height: 30px;
}
